.App {
  background-color: #E5E5E5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.BookList{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;

}
.container{
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  position: relative;
}
.Card{
  width: 225px;
  height: 380px;
  background-color: #E2DDDD;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  
}
.Card:hover{
  cursor: pointer;
}
.Card-Img{
  width: 202px;
  min-height: 235px;
  background-color: white;
  margin-top: 17px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.Pagination{
  background-color: #e5dfdf;
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  padding: 5px;
  box-shadow: #645b5b;
}
.Modal{
  display: flex;
  flex-direction: column;
}
.ModalTitle{
  height: 105px;
}
.Modal >p{
  margin: 8px;
}
.ModalDescription{
  margin-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
